<div class="ginput_container ginput_container_select2">
	<select class="js-search-computer {{ size }}" id="input_{{ id }}" name="input_{{ id }}" data-placeholder="{{ placeholder_attribute }}">
		<option></option>			
	</select>
</div>