<div class="ginput_container">
	<label>
		<input type="radio" id="input_{{ id }}_yes" name="input_{{ id }}" value="ja">
		Ja
	</label>
	<br>
	<label>
		<input type="radio" id="input_{{ id }}_no" name="input_{{ id }}" value="nej">
		Nej
	</label>
	</select>
</div>